MONGODB_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=markzy

# Example: For a local MongoDB instance used with Compass
# MONGODB_URI=mongodb://127.0.0.1:27017
# MONGO_DB_NAME=markzy

JWT_SECRET=your-jwt-secret
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
