<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Markzy UI Tests">
    <test name="Authentication Tests">
        <classes>
            <class name="com.markzy.tests.RegisterTest"/>
            <class name="com.markzy.tests.LoginTest"/>
        </classes>
    </test>
</suite>